version: 2.1

defaultpythonimage: &defaultpythonimage
  docker:
    - image: python:3.7-alpine3.11

parameters:
  memstash-token:
    type: string
    default: "c8c16243-3ac7-45ec-9a0a-5ca9ef15261a"

commands:
  aws-cli-setup-python:
    description: Install AWS CLI
    steps:
      - run:
          name: Install AWS command
          when: on_fail
          command: |
            apk add --no-cache python3 py3-pip \
            && pip3 install --upgrade pip \
            && pip3 install awscli
  
  destroy-environment:
    description: Destroy back-end and front-end cloudformation stacks given a workflow ID
    steps:
      - run:
          name: Destroy frontend and backend environments
          when: on_fail
          command: |
            aws cloudformation delete-stack --stack-name frontend-${CIRCLE_WORKFLOW_ID}
            aws cloudformation delete-stack --stack-name backend-${CIRCLE_WORKFLOW_ID}

  destroy-environment-s3:
    description: Destroy s3 bucket
    steps:
      - run:
          name: Destroy s3 bucket
          when: on_fail
          command: |
            aws s3 rb s3://udapeople-vp-${CIRCLE_WORKFLOW_ID} --force


  revert-migrations:
    description: Revert the last migration if successfully run in the current workflow.
    steps:
      - run:
          name: Revert DB migrations
          when: on_fail
          command: |
            export SUCCESS=$(curl -H "token: << pipeline.parameters.memstash-token >>" --request GET https://api.memstash.io/values/migration_${CIRCLE_WORKFLOW_ID} )
            if(( $SUCCESS==1 )); 
            then
              cd ~/project/backend
              npm install
              npm run migrations:revert
            fi
        #_${CIRCLE_WORKFLOW_ID} add it to memstash after test

jobs:
  build-frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys: [frontend-build]
      - run:
          name: Build front-end
          command: |
            cd frontend
            sudo npm install
            sudo npm run build
      - save_cache:
          paths: [frontend/node_modules]
          key: frontend-build
      - persist_to_workspace:
          root: ~/
          paths:
            - project/frontend/dist

  build-backend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys: [backend-build]
      - run:
          name: Back-end build
          command: |
            cd backend
            sudo npm install
            sudo npm fund
            sudo npm audit fix
            sudo npm run build
      - save_cache:
          paths: [backend/node_modules]
          key: backend-build
      - persist_to_workspace:
          root: ~/
          paths:
            - project/backend/dist

  test-frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys: 
            - "frontend-build"
      - run:
          name: "Test frontend"
          command: |
            cd frontend
            echo NODE_OPTIONS
            export NODE_OPTIONS="--max-old-space-size=4096"
            sudo npm test            
                
  test-backend:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - restore_cache:
          keys: [backend-build]
      - run:
          name: "Test Backend"
          command: |
            cd backend
            sudo npm test            
            
  scan-frontend:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - restore_cache:
          keys: 
            - "frontend-build"
      - run:
          name: "Scan Frontend"
          command: |
            npm audit --audit-level=critical

  scan-backend:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - restore_cache:
          keys: [backend-build]
      - run:
          name: "Scan Backend"
          command: |
            npm audit --audit-level=critical

  deploy-infrastructure:
    docker:
      - image: sleavely/node-awscli
    steps:
      - checkout
      - run:
          name: Ensure back-end infrastructure exists
          command: |
            aws cloudformation deploy \
              --template-file .circleci/files/backend.yml \
              --tags project=CICD-Udacity-back \
              --stack-name backend-${CIRCLE_WORKFLOW_ID} \
              --parameter-overrides ID=${CIRCLE_WORKFLOW_ID}
      - run:
          name: Ensure front-end infrastructure exist
          command: |
            aws cloudformation deploy \
              --template-file .circleci/files/frontend.yml \
              --tags project=CICD-Udacity \
              --stack-name frontend-${CIRCLE_WORKFLOW_ID} \
              --parameter-overrides ID=${CIRCLE_WORKFLOW_ID}
      - run:
          name: Add back-end ip to ansible inventory
          command: |
            aws ec2 describe-instances --query 'Reservations[*].Instances[*].PublicIpAddress' \
              --filters "Name=tag:project,Values=CICD-Udacity-back" --output text >> .circleci/ansible/inventory.txt
            cat .circleci/ansible/inventory.txt
      - run:
          name: Add back-end ip to Memstash
          command: |
            mkdir /tmp/workspace
            aws ec2 describe-instances --query 'Reservations[*].Instances[*].PublicIpAddress' \
              --filters "Name=tag:project,Values=CICD-Udacity-back" --output text > /tmp/workspace/ips.txt
            EC2_IP=$(cat /tmp/workspace/ips.txt)
            echo $EC2_IP
            curl -H "Content-Type: text/plain" -H "token: << pipeline.parameters.memstash-token >>" \
              --request PUT --data $EC2_IP https://api.memstash.io/values/ips
      - persist_to_workspace:
          root: ~/
          paths:
            - project/.circleci/ansible/inventory.txt
      - destroy-environment

  configure-infrastructure:
    <<: *defaultpythonimage
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "8f:30:cf:c2:0d:5c:9d:a4:f7:70:7a:fa:dc:98:e6:cd"
      - attach_workspace:
          at: ~/
      - run:
          name: Update dependencies
          command: |
            apk add --update ansible
      - run:
          name: Configure server
          command: |
            ansible-playbook .circleci/ansible/configure-server.yml -i .circleci/ansible/inventory.txt
      - aws-cli-setup-python
      - destroy-environment

  run-migrations:
    docker:
      - image: sleavely/node-awscli
      # circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: Run migrations
          command: |
            cd backend
            npm cache clean --force
            npm install
            npm run build
            npm audit fix
            npm run migrations > migration.log
            cat migration.log
            migration_output=$(cat migration.log | grep -c "has been executed successfully")
      - run:
          name: Send migration results to memstash
          command: |
            curl -H "Content-Type: text/plain" -H "token: << pipeline.parameters.memstash-token >>" \
              --request PUT --data $migration_output https://api.memstash.io/values/migration_${CIRCLE_WORKFLOW_ID}
          # migration_output=$(grep -w "has been executed successfully" migration_output.txt)
      - revert-migrations
      - destroy-environment

  deploy-frontend:
    docker:
      - image: sleavely/node-awscli
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: Install dependencies
          command: |
            apt update
      - run:
          name: Get backend url
          command: |
            BACKEND_IP=$(curl -H "token: << pipeline.parameters.memstash-token >>" --request GET https://api.memstash.io/values/ips)
            export API_URL="http://${BACKEND_IP}:3030"
            echo "${API_URL}"
      - run:
          name: Deploy frontend objects
          command: |
            cd frontend
            ls -la
            aws s3 cp dist/ s3://udapeople-${CIRCLE_WORKFLOW_ID} --recursive
           # can use sync . to upload all new files
      - revert-migrations
      - destroy-environment
                    
  deploy-backend:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - add_ssh_keys:
          fingerprints:
            - "8f:30:cf:c2:0d:5c:9d:a4:f7:70:7a:fa:dc:98:e6:cd"
      - attach_workspace:
          at: ~/
      - run:
          name: Install dependencies
          command: |
            apk add --update ansible
            ls -la /home
            ls -la /home/circleci/project
            mkdir /home/web
            mv backend/dist/* /home/web
            cd /home/web
            ls -la ~/web
      - run:
          name: Deploy backend
          command: |
            ansible-playbook .circleci/ansible/deploy-backend.yml -i .circleci/ansible/inventory.txt
      - aws-cli-setup-python
      - revert-migrations
      - destroy-environment

  smoke-test:
    docker:
      - image: sleavely/node-awscli
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apk add --update curl
      - run:
          name: Get backend url
          command: |
            BACKEND_IP=$(curl -H "token: << pipeline.parameters.memstash-token >>" \ 
              --request GET https://api.memstash.io/values/ips)
            export API_URL="http://${BACKEND_IP}:3030"
            echo "${API_URL}"
      - run:
          name: Backend smoke test.
          command: |
            if curl -s ${API_URL}
              then
                return 0
              else
                return 1
            fi
      - run:
          name: Frontend smoke test.
          command: |
            URL="http://udapeople-${CIRCLE_WORKFLOW_ID}.s3-website-us-east-1.amazonaws.com"
            if curl -s ${URL} | grep "Welcome"
              then
                return 1
              else
                return 0
            fi            
      - revert-migrations
      - destroy-environment

  cloudfront-update:
    docker:
      - image: sleavely/node-awscli
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apk add --update curl
      - run:
          name: Get and store Last Pipeline ID
          command: |
            export OldWorkflowID=$(aws cloudformation list-exports --query "Exports[?Name=='PipelineID'].Value" \
              --no-paginate --output text  > /tmp/workspace/last_pipeline.txt)
            curl -H "Content-Type: text/plain" -H "token: << pipeline.parameters.memstash-token >>" \
              --request PUT --data $OldWorkflowID https://api.memstash.io/values/last_pipeline_${CIRCLE_WORKFLOW_ID}
      - run:
          name: Update cloudfront distribution
          command: |
            aws cloudformation deploy \
            --template-file cloudfront.yml \
            --stack-name cloudfront \
            --parameter-overrides WorkflowID="${CIRCLE_WORKFLOW_ID}"
      - revert-migrations
      - destroy-environment

  cleanup:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Get old stack workflow id
          command: |
            export OldWorkflowID=$(curl -H "token: << pipeline.parameters.memstash-token >>" --request GET https://api.memstash.io/values/last_pipeline_${CIRCLE_WORKFLOW_ID} )
            export STACKS=[] #put the list of stacks here
      - run:
          name: Remove old stacks and files
          command: |
            if [[ "${STACKS[@]}" =~ "${OldWorkflowID}" ]]
            then
              aws s3 rb s3://udapeople-vp-${OldWorkflowID} --force
              aws cloudformation delete-stack --stack-name frontend-${OldWorkflowID}
              aws cloudformation delete-stack --stack-name backend-${OldWorkflowID}
            fi
            
workflows:
  default:
    jobs:
      - build-frontend:
          filters:
            branches:
              only: [master-test]
      - build-backend
      - test-frontend:
          requires: [build-frontend]
      - test-backend:
          requires: [build-backend]
          filters:
            branches:
              only: [master-test]
      - scan-backend:
          requires: [build-backend]
          filters:
            branches:
              only: [master-test]
      - scan-frontend:
          requires: [build-frontend]
      - deploy-infrastructure:
          requires: [test-frontend, test-backend, scan-frontend, scan-backend]
      - configure-infrastructure:
          requires: [deploy-infrastructure]
      #- run-migrations:
      #    requires: [configure-infrastructure]
      - deploy-frontend:
          #requires: [run-migrations]
          requires: [build-frontend]
      - deploy-backend:
          #requires: [run-migrations]
          requires: [build-backend]
      - smoke-test:
          requires: [deploy-backend, deploy-frontend]
      - cloudfront-update:
          requires: [smoke-test]
      - cleanup:
          requires: [cloudfront-update]